%html
  %head
    %script{:src => "js/jquery-2.0.3.js"}
    %script{:src => "js/jsonld.js"}
    %script{:src => "js/d3.v3.js"}
    %script{:src => "js/ext-all-debug.js"}
    %script{:src => "js/underscore.js"}
    %link{:rel => "stylesheet", :href => "css/style.css", :type =>"text/css"}
    %link{:rel=>"stylesheet", :href=>"css/ext-theme-classic-all-debug.css", :type=>"text/css" }
  %body.default
    %script{:src => "js/main.js"}